# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
num=6
print(num)

6

##### Assinging float

In [2]:
numFloat=6.6
print(numFloat)

6.6

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1=12
num2=54
print(num1+num2)

result=num1 + num2
result += 2
print(result)

66
68

##### Subtraction

In [17]:
num1=72
num2=77
print(num1-num2)

resultSub = num1 - num2
resultSub += 6
print(resultSub)

-5
1

##### Multiplication

In [16]:
num1=66
num2=9
print(num1*num2)

resultMulti= num1 * num2
resultMulti -= 6
print(resultMulti)

594
588

##### Division

In [15]:
num1=420
num2=2
print(num1/num2)

resultDivis= num1 / num2
resultDivis *= 2
print(resultDivis)

210.0
420.0

##### Floor Division

In [12]:
num1=420
num2=2
print(num1//num2)

resultFloor= num1 // num2
resultFloor += 6
print(resultFloor)

210
216

##### Modulo

In [11]:
num1=666
num2=2
print(num1%num2)

resultMod= num1 % num2
resultMod += 2
print(resultMod)

0
2

##### Exponential

In [10]:
resultExpo= num1 ** num2
resultExpo += 4
print(resultExpo)

18870668547844457769972080826950345531368943638112857227268

### String Input-Output

##### String Assignment

In [18]:
name="Brittany"
print(name)

Brittany

##### print() <br>
<p>Don't forget about end=' '</p>

In [20]:
print("My first name is: ", name)

print("Full Name: ", name , end=' Stripling')

My first name is:  Brittany
Full Name:  Brittany Stripling

##### String Concatenation

In [21]:
phrase1="Look at me now!"
phrase2="I'm learning Python!"

full_phrase = phrase1 + ' ' + phrase2
print(full_phrase)

Look at me now! I'm learning Python!

##### Type Conversion

In [23]:
age="39"
change_type=int(age)
print("I am ",age ," years old")

I am  39  years old

##### input()

In [24]:
name=input("What is your name: ")
print(name)

What is your name: Brittany
Brittany

##### format()

In [26]:
age=input("Enter your age: ")

result_string="You are {} {} and are getting wiser!".format(age, name)
print(result_string)

Enter your age: 39
You are 39 Brittany and are getting wiser!

##### Old Way (python 2)

In [27]:
result_string2="You are %s and you look great for your age!" %age
print(result_string2)

You are 39 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [37]:
make=input("Enter the make of your car:")
model=input("Enter the model of your car:")
year=input("Enter the year of your vehicle:")
color=input("Enter the color of your car:")

result=f"You have a {year} {make} {model} that is {color} in color"
print(result)

Enter the make of your car:Dodge
Enter the model of your car:Journey
Enter the year of your vehicle:2012
Enter the color of your car:White
You have a 2012 Dodge Journey that is White in color

### If Statements

In [40]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1=5
num2=10
num3=0
if num1 == num2:
    print("Equal Values.")
else:
    print("Not Equal")
    
if num2 > num1 or num3 > 0:
    print("Num2 is greater")
elif num1 > num2:
    print("Num1 is greater")
else:
    print("Equal values")

Not Equal
Num2 is greater

##### 'is' keyword

In [41]:
num3=55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [43]:
char_name="Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer.")

The ring bearer.

##### 'not in' keyword'

In [44]:
sega_char='Sonic'

if 'a' not in sega_char:
    print('a is NOT there...')

a is NOT there...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [52]:
#Output True: if p is found
#False: if p is not found
word=input("What is your input:")

if 'p' not in word:
    print("False")
else:
    print("True")

What is your input:popcorn
True

## Using 'and'/'or' with If Statements

In [54]:
num_11=15
num_12=3
num_13=10
num_14=3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
if num_13 == num_14 or num_11 > num_12:
    print("False and True")

True and True
False and True

### Elif Statements

In [55]:
first_name=input("What is your name:")

if first_name == 'Smith':
    print("The name Smith.")
elif first_name == 'Brittany':
    print("Your name is Brittany")
elif first_name != 'Max':
    print("Your name is NOT Max")
else:
    print("Your name is Max")

What is your name:Brittany
Your name is Brittany

### Else Statements

In [ ]:
# see above

### For Loops

In [56]:
name = "Brittany Stripling"

for letter in name:
    print(letter)

B
r
i
t
t
a
n
y

S
t
r
i
p
l
i
n
g

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [59]:
# will continue to next iteration
name="Brittany Stripling"

for i in name:
    if i == 'a':
        continue
    print(i)

B
r
i
t
t
n
y

S
t
r
i
p
l
i
n
g

In [58]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [60]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [67]:
name="Brittany Stripling"

for i in name:
    pass

##### Double For Loops

In [68]:
for i in range(5):
    for j in range(5):
        print('i =', i , 'j = ', j)

i = 0 j =  0
i = 0 j =  1
i = 0 j =  2
i = 0 j =  3
i = 0 j =  4
i = 1 j =  0
i = 1 j =  1
i = 1 j =  2
i = 1 j =  3
i = 1 j =  4
i = 2 j =  0
i = 2 j =  1
i = 2 j =  2
i = 2 j =  3
i = 2 j =  4
i = 3 j =  0
i = 3 j =  1
i = 3 j =  2
i = 3 j =  3
i = 3 j =  4
i = 4 j =  0
i = 4 j =  1
i = 4 j =  2
i = 4 j =  3
i = 4 j =  4

### While Loops

In [69]:
num=0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
game_over=True

while game_over:
    print("Infinit Loop")
    user_input=input("Would you like to stop?")
    if user_input = 'YES':
        game_over = False

##### While & For Loops Used Together

In [71]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iterations " + str(i))
        
    num += 1

While loop iteration: 0
For loop iterations 0
For loop iterations 1

While loop iteration: 1
For loop iterations 0
For loop iterations 1

While loop iteration: 2
For loop iterations 0
For loop iterations 1

While loop iteration: 3
For loop iterations 0
For loop iterations 1

While loop iteration: 4
For loop iterations 0
For loop iterations 1

### Built-In Functions

##### range()

In [73]:
for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [75]:
name = input("Give me the name of your favorite book:")

length=len(name)
print(length)

Give me the name of your favorite book:Harry Potter
12

##### help()

In [77]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [83]:
print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("This number is a float type")
    
num=4.5
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

False
This number is a float type
4.5 is a float

##### abs()

In [84]:
print(abs(-5))

5

### Try and Except

In [5]:
try:
    number_test = 0
    input_num = int(input('Guess a number'))
    print("Your number is: " + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number6
Your number is: 6

### Lists

##### Declaring Lists

In [14]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [18]:
#list_name(start: stop: step:)

#Single Index
print(names[1])

#Print starting at index 1 going to the end
print(names[1:])

#Print starting at the beginning of a list up until a number
print(names[:2])

#Print starting at index 1 and going up BY 2 in each iteration
print(names[::2])

#Print starting at the back and display in reverse order
print(names[::-1])

Cindy
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Max', 'Kathy', 'Nate']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [25]:
names.append('Brittany')
print(names)

['Max', 'Cindy', 'Devon', 'Nate', 'Brittany', 'Brittany']

##### .insert()

In [20]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Brittany']

##### .pop()

In [21]:
my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devon', 'Bob', 'Nate', 'Brittany']


##### .remove()

In [28]:
#names.remove('Bob')
#print(names)

while 'Brittany' in names:
    names.remove('Brittany')
print(names)

['Max', 'Cindy', 'Devon', 'Nate']

##### del()

In [29]:
del(names[1])
print(names)

['Max', 'Devon', 'Nate']

##### Concatenating Two Lists

In [33]:
list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [32]:
names = ["Max", "sam", "Josh", ["Sally", ["Sue", "Jim"],"Tameka"]]
print(names)
print(names[3][1][1])

['Max', 'sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Jim

##### Looping Through Lists

In [35]:
#Two ways to loop through a list! One is by index; the other is by using the 'in' keyword

#By index
for i in range(len(names)):
    print(names[i])
    
#Loop with 'in'
for name in names:
    print(name)

Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [42]:
for i in range(1, 1001):
    if i ** 3 <= 1000:
        print(i ** 3)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [45]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
def get_prime_numbers(n):
    """Returns a list of the first n prime numbers."""
    primes = []
    for i in range(2, n + 1):
        is_prime = True
        for j in primes:
            if i % j == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(i)
    return primes
print(get_prime_numbers(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [51]:
age = int(input("Enter your age: "))
if age <= 18:
    print("Kids")
elif age >= 18 and age <= 65:
    print("Adults")
else:
    print("Seniors")

Enter your age: 39
Adults